{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

        <h1 style="text-align: center;"> PITCHES</h1>
        <hr>
        <div class="container">
            <div class="row">
                <div class="">
                    {% if pitch  %}
                    {{macro.displaypitches(pitch)}}
                {% elif current_user.is_authenticated %}
                    <h3 class="text-center">There is no pitch yet </h3>
                
                <a class="btn btn-success btn-lg text-center" href="{{url_for('main.new_pitch',id=current_user.id)}}"> Be the first To add!</a>
                {%else%}
                <h3>There are no pitches yet..Please login to be the first to Update a pitch!!</h3>
                <a class="btn btn-success btn-lg text-center" href="{{url_for('auth.login')}}">Sign in</a>
                {% endif %}
                </div>
            </div>
        </div>
        
    


{% endblock %}